@media screen and (max-width: 1100px) {
  .third {
    margin-block: 0px;
    height: max-content;
    grid-template-columns: 310px;
    justify-content: center;
    background-position: 35% 0px;
    article {
      margin-bottom: 15px;
    }
  }
}
@media screen and (max-width: 920px) {
  .second {
    height: max-content;
    flex-direction: column;
    justify-content: start;
    padding-inline: 20px;
    > img {
      width: 300px;
    }
    article {
      width: 100%;
      text-align: center;
      h1 {
        width: 100%;
      }
    }
    div {
      margin-inline: auto;
    }
  }
}
@media screen and (max-width: 920px) {
  .second {
    article {
      width: 300px;
      h1 {
        font-size: 1.3rem;
        margin-block: 30px;
      }
    }
  }
  footer {
    flex-direction: column;
    align-items: center;
    > * {
      margin-bottom: 10px;
    }
    aside {
      width: 315px;
    }
  }
}
@media screen and (max-width: 767px) {
  .first {
    height: max-content;
    grid-template-columns: 300px;
    grid-template-rows: repeat(4, 200px);
  }
  footer {
    align-items: start;
    > * {
      margin-bottom: 30px;
    }
    > div {
      width: 100%;
      justify-content: center;
    }
  }
}
@media screen and (min-width: 429px) {
  header nav ul li:hover {
    cursor: pointer;
    transition: 0.4s;
    opacity: 1;
    text-decoration: underline;
  }
}
@media screen and (max-width: 430px) {
  header {
    height: max-content;
    padding: 20px 15px 30px;
    background-image: url("../images/bg-curvy-mobile.svg");
    nav {
      margin-bottom: 30px;
    }
    > img,
    > p,
    > h1 {
      width: 325px;
      margin-bottom: 30px;
    }
  }
  .third {
    background-position: 5% 0px;
  }
}
@media screen and (max-width: 630px) {
  .last article {
    width: 90%;
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      * {
        width: 315px;
      }
      input {
        margin-bottom: 10px;
      }
    }
  }
  footer {
    padding-top: 200px;
  }
}
